body{
    margin: 0;
    padding: 0 15px;
    background-color: #ffffff;
    color:#000000;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

 body {
    font-family: 'Gilroy', sans-serif;
 }
.about__me{
    width: 944px;
}

.about__me__column{
    display: flex;
    justify-content: space-between;
}
