* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 936px;
    font-family: 'Gilroy', sans-serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
 }

 .container {
    max-width: 936px;
    margin: 0 auto;
}

.about__title{
    width: 124px;
    font-size: 47px;
    width: 123px;
}

.about__me__text {
    width: 172px;
    font-size: 18px;
    line-height: 22px;
}

.about__text--form {
    font-weight: bold;
}

.about__column{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 47px;
}

.about__text--lang {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}
.header {
    padding-top: 30px;
    margin-bottom: 30px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #828282;
    padding-bottom: 37px;
}

.skill {
    padding: 92px 0 114px;
}

.skill__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 55px;
}

.skill__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 89px;
}

.skill__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.program {
    display: flex;
    flex-direction: column;
    width: 166px;
}

.program__image-wrapper {
    width: 90px;
    height: 89px;
    margin: 0 auto;
    margin-bottom: 19px;
}

.program__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.program__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    width: 90px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.star {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.star__item {
    width: 26px;
    height: 26px;
    background: url("../img/star.svg") no-repeat center center;
}

.star__item--light {
    background: url("../img/star-tr.svg") no-repeat center center;
}

.portfolio {
    background-color: #F6F6F6;
    padding: 106px 0 96px;
}

.title {
    text-align: center;
    margin-bottom: 55px;
    font-size: 34px;
    line-height: 42px;
}

.portfolio__card {
    margin-bottom: 103px;
}

.portfolio__item-title {
    font-size: 18px;
    line-height: 22px;
    width: max-content;
    margin: 0 auto;
}

.portfolio__link {
    color: #070707;
    text-decoration: underline;
}

.header__item {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__link {
    font-weight: normal;
    color: #828282;
    font-size: 18px;
}

.header__link {
    font-weight: normal;
    color: #828282;
    font-size: 18px;
}

.header__link--active {
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.portfolio__img {
    margin-bottom: 38px;
}

.footer {
    width: 100%;
    height: auto;
    padding-top: 114px;
    padding-bottom: 114px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer__header {
    font-size: 34px;
    margin-bottom: 25px;
}

.footer__text {
    font-size: 30px;
    margin-bottom: 0px;
}

.footer__text--small {
    font-size: 15px;
    color: #828282;
}

.footer__text--email {
    margin-bottom: 20px;
}

.footer__email-link {
    color: #828282;
    text-decoration: none;
}

.footer__button {
    margin-top: 40px;
    margin-bottom: 85px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 25px;
    width:180.5px;
    height:42px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}

.footer__button:hover {
    color: black;
    background-color: white;
}

.footer__social {
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    margin-top: auto;
}

.footer__link {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer__pic {
    display: block;
    width: 40px;
    height: 40px;
}

.footer__img {
    display: block;
    object-fit: fill;
    transition: 0.5s;
}

.footer__img:hover {
    transform: scale(1.5);
}

.footer__link:not(:last-child) {
    margin-right: 55px;
}


.form {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 85px; */
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity .3s linear;
}

.input {
    width: 100%;
    border-color: #000000;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    transition: box-shadow .15s linear;
}

.input:not(:last-child) {
    margin-bottom: 10px;
}

.input:hover,
.footer__button:hover {
    box-shadow: 0 0 3px 3px gray;
}
.footer__text--social {
    margin-bottom: 50px;
}

.form-active {
    display: block;
    opacity: 1;
    animation: showBlock .3s linear forwards;
}

@keyframes showBlock {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.form__closed {
    display: block;
    position: absolute;
    top: 0;
    left: 103%;
    width: 30px;
    height: 30px;   
    cursor: pointer;
    background-color: #828282;
    border-radius: 50%;
    border: none;
}

.form__closed:hover {
    background-color: #bfbcbc;
}

.form__closed::before,
.form__closed::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 17%;
}

.form__closed::before {
    transform: rotate(45deg);
}

.form__closed::after {
    transform: rotate(-45deg);
}
  